# uname -a | awk '{print $3}'

# list all variable data
# mkiso commands
# location of squashfs livefilesystem init.rd etc...


::::4.19.0-kali3-amd64
::mkiso
xorriso -as mkisofs -U -f -v -no-emul-boot -boot-load-size 4 -boot-info-table -iso-level 4 -b \
isolinux/isolinux.bin -isohybrid-mbr isolinux/isohdpfx.bin -c isolinux/boot.cat -eltorito-alt-boot \
-e EFI/boot/bootx64.efi -no-emul-boot -isohybrid-gpt-basdat -o ${NEW_ISO} .

::
